@using System.Web.Configuration;
@model WebService.Models.Route
@{
    var apiKey = WebConfigurationManager.AppSettings["maps_api_key"];
    ViewBag.Title = "Edit Route";
}

<h2>Edit Route</h2>
<div>
    <div>
        @using (Html.BeginForm("EditRoute", "Maps"))
        {
            <div class="form-group">
                @Html.HiddenFor(m => m.Id, new { @Value = Model.Id })
                @Html.Label("Route Name")
                @Html.TextBoxFor(m => m.Name, new { @class = "form-control", @Value = Model.Name })

                @Html.Label("Origin")
                @Html.TextBoxFor(m => m.Origin, new { @class = "form-control", @Value = "", @readonly = "readonly", @id = "route_origin" })

                @Html.Label("Destination")
                @Html.TextBoxFor(m => m.Destination, new { @class = "form-control", @Value = "", @readonly = "readonly", @id = "route_destination" })

                @Html.Label("Total Distance");
                @Html.TextBoxFor(m => m.Distance, new { @type="number", @class = "form-control", @Value = "0.0", @readonly = "readonly", @id = "route_distance" })
                <button type="submit" class="btn btn-primary">Submit</button>
            </div>
        }
    </div>
    <div id="map"></div>
</div>

<style>
    #map {
        height: 500px;
        width: 100%;
    }
</style>
<script src="~/Scripts/Maps/new_route.js"></script>
<script async defer
        src="https://maps.googleapis.com/maps/api/js?key=@(apiKey)&callback=initMap">
</script>
<script>
    dirReq = {
        origin: '@Model.Origin',
        dest: '@Model.Destination'
        };
</script>