@using System.Web.Configuration;
@model WebService.Models.Route
@{
    var apiKey = WebConfigurationManager.AppSettings["maps_api_key"];
    ViewBag.Title = "New Route";
}
@section Header {
    <h1>New Route</h1>
    <p>Click on the map to set an origin and destination</p>
}
@section Body {
<div class="row">
    <div class="col-sm-4">
        @using (Html.BeginForm("NewRoute", "Maps"))
        {
            <div class="form-group">
                @Html.Label("Route Name")
                @Html.TextBoxFor(m => m.Name, new { @class = "form-control", @Value = "My Route" })
            </div>

            <div class="form-group">
                @Html.Label("Origin")
                @Html.TextBoxFor(m => m.Origin, new { @class = "form-control", @Value = "", @readonly = "readonly", @id = "route_origin" })
            </div>

            <div class="form-group">
                @Html.Label("Destination")
                @Html.TextBoxFor(m => m.Destination, new { @class = "form-control", @Value = "", @readonly = "readonly", @id = "route_destination" })
            </div>

            <div class="checkbox">
                @Html.Label("Looping Route")
                @Html.EditorFor(m => m.IsLoopRoute, new { @class = "checkbox", @Value = "", @readonly = "readonly", @id = "route_is_loop_route" })
            </div>

            <div class="form-group">
                @Html.Label("Total Distance(km)")
                @Html.TextBoxFor(m => m.Distance, new { @type = "number", @class = "form-control", @Value = "0.0", @readonly = "readonly", @id = "route_distance" })
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        }
    </div>
    <div class="col-sm-8">
        <div id="map"></div>
    </div>
</div>
<style>
    #map {
        height: 500px;
        width: 100%;
    }
</style>
<script src="~/Scripts/Maps/route.js"></script>
<script src="~/Scripts/Maps/new_route.js"></script>
<script async defer
        src="https://maps.googleapis.com/maps/api/js?key=@(apiKey)&callback=initMap">
</script>
}