@using System.Web.Configuration;
@model WebService.Models.Route
@{
    var apiKey = WebConfigurationManager.AppSettings["maps_api_key"];
    ViewBag.Title = "New Route";
}

<h2>New Route</h2>
<div>
    <div>
        @using (Html.BeginForm("NewRoute", "Maps"))
        {
            <div class="form-group">
                @Html.Label("Route Name")
                @Html.TextBoxFor(m => m.Name, new { @class = "form-control", @Value = "My Route" })
            </div>

            <div class="form-group">
                @Html.Label("Origin")
                @Html.TextBoxFor(m => m.Origin, new { @class = "form-control", @Value = "", @readonly = "readonly", @id = "route_origin" })
            </div>

            <div class="form-group">
                @Html.Label("Destination")
                @Html.TextBoxFor(m => m.Destination, new { @class = "form-control", @Value = "", @readonly = "readonly", @id = "route_destination" })
            </div>

            <div class="checkbox">
                @Html.Label("Looping Route")
                @Html.CheckBoxFor(m => m.IsLoopRoute, new { @class = "checkbox", @Value = "", @readonly = "readonly", @id = "route_is_loop_route" })
            </div>

            <div class="form-group">
                @Html.Label("Total Distance")
                @Html.TextBoxFor(m => m.Distance, new { @type = "number", @class = "form-control", @Value = "0.0", @readonly = "readonly", @id = "route_distance" })
            </div>
                <button type="submit" class="btn btn-primary">Submit</button>
        }
    </div>
    <div id="map"></div>
</div>

<style>
    #map {
        height: 500px;
        width: 100%;
    }
</style>
<script async defer
        src="https://maps.googleapis.com/maps/api/js?key=@(apiKey)&callback=initMap">
</script>
<script src="~/Scripts/Maps/new_route.js"></script>