@model IEnumerable<WebService.Models.Route>
@using WebService.Services;
@{
    var apiKey = System.Web.Configuration.WebConfigurationManager.AppSettings["maps_api_key"];
    ViewBag.Title = "Routes";
}

@section Header {
    <h1>Routes</h1>
    <p>Manage your routes here</p>
}
@section Body {
    <div class="row">
        <div class="col-sm-8">
            <div class="table-container">
                <table id="routes" class="table table-hover">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Origin</th>
                            <th>Destination</th>
                            <th>Distance(km)</th>
                            <th>Loop</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var route in Model)
                        {
                            <tr onclick="updateDirections(this)">
                                <td>@route.Name</td>
                                <td>@RouteEx.PrettyLatLng(route.Origin, 5)</td>
                                <td>@RouteEx.PrettyLatLng(route.Destination, 5)</td>
                                <td>@Math.Round(route.Distance, 4)</td>
                                <td>
                                    <input type="checkbox"
                                           @if (route.IsLoopRoute)
                                           { 
                                               @: checked
                                           } disabled />

                                </td>
                                <td>
                                    <a href="@Url.Action("EditRoute", "Maps", new { @id = route.Id })" type="button" class="btn btn-default"><span class="glyphicon glyphicon-edit" aria-hidden="true"></span></a>
                                    <a href="@Url.Action("DeleteRoute", "Maps", new { @id = route.Id })" type="button" class="btn btn-default"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span></a>
                                   @* @Html.ActionLink("Edit", "EditRoute", "Maps", new { @id = route.Id }, new { @class = "btn btn-default", @type = "button" })*@
                                    @*@Html.ActionLink("Delete", "DeleteRoute", "Maps", new { @id = route.Id }, new { @class = "btn btn-default", @type = "button" })*@
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
            <a href="@Url.Action("NewRoute", "Maps")" type="button" class="btn btn-primary"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span></a>
@*            @Html.ActionLink("New Route", "NewRoute", "Maps", null, new { @class = "btn btn-primary", @type = "button" })*@
        </div>
        <div class="col-sm-4">
            <div id="map"></div>
        </div>
    </div>
    <style>
        #map {
            height: 400px;
            width: 100%;
        }
    </style>
    @Scripts.Render("~/Scripts/Maps/all_routes.js")
        <script async defer
                src="https://maps.googleapis.com/maps/api/js?key=@(apiKey)&callback=init">
        </script>
}